/****************************************** TAG SELECTORS ***************************/
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1{
    color: #66BFBF;
    font-size: 90px;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding: bottom 10px;
}

h3{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

hr{
    border-style: none dotted dotted;
    border-width: 10px;
    border-top: none;
    width: 5%;
    border-color: #d1d4d4;
    margin-top: 100px;
    margin-bottom: 100px;
}

a{
    color: #eaf6f6;
    text-decoration: none;
}

a:hover{
    color: #11999E;
}

p{
    overflow: hidden;
    line-height: 2;
}

/****************************************** CLASS SELECTORS ***************************/
.resumePageHR{
    width: 13%;
    border-color: #d1d4d4;
    margin-top: 20px;
    margin-bottom: 20px;
}

.citations{
    font-size: 8px;
}

.aboutMeRow{
    text-align: left;
    width:40%;
    margin: 100px auto 100px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.ticker{
    display:inline-block; 
    background-color:rgb(149, 245, 192);
    margin: 0 5px 0 5px;
    border-radius: 50px;
    padding: 0 10px 0 10px;
}

.footer-link{
    margin: 0 20px 0 20px;
}

.title{
    
    font-family: 'Sacramento', cursive;
    font-weight: bold;
}

.dice-section{
 margin: 15px auto 15px auto;
}

.dice-text{
    text-decoration:underline;
}

.dice-button{
    margin-bottom:50px
}

.dice-rounded-edges{
    border-radius: 20px;
}

/****************************************** ID SELECTORS ***************************/
#wall-ball-background{
    background-color: #E4F9F5;
}

#dice-title{
    margin-bottom: 70px;
}

#dice-container-top {
    background-color: #E4F9F5;
    padding-top: 40px;

}

#dice-container-middle {
    background-color: #E4F9F5;
    padding-top: 40px
}

#dice-container-bottom{
    background-color: E4F9F5;
    height: 350px;
}

#dice-container-footer{
    background-color: #66BFBF;
    padding-top: 10px;
    padding-bottom: 10px;
}

#blue{
    background-color: #11cdd4;
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 250px;
}

#red{
    background-color: palevioletred;
    height: 100px;
    width: 100px;
    display: inline-block;
}

#top-container{
    background-color: #E4F9F5;
    margin-bottom: 100px;
}

#bottom-container{
    background-color: #66BFBF;
    padding-top: 10px;
    padding-bottom: 10px;
}

#topCloud{
    position:relative;
    left:300px;
    top:40px;
}

#bottomCloud{
    position:absolute;
    left: 180px;
    top:200px
}
@media (max-width: 1100px) {
    /* styles to apply when screen size is 1100px or less */
    #bottomCloud {
      left: 50px;
    }
  }

#mountain{
    display:block;
    padding-left: 150px;
    margin:200px auto 0 auto;
    width:80%;
}

#circleProfilePic{
    border-radius: 50%;
}

#projectsImage{
    float: left;
    margin-right: 30px;

}

#travelImage{
    float: right;
    margin-left: 30px;

}

#intro{
    width:50%;
    margin: auto
}

#outro{
    margin: 30px auto 50px auto
}

#contact{
    width: 40%;
    margin: 40px auto 60px auto;
}

#copyright{
    margin-bottom: 0;
    margin-top: 0;
    color: #EAF6F6;
    font-size:12px;
}

#resumeA{
    margin-left:0
}

#resumeA:hover{
    color: black;
}


