body{
    background-color: #EAF6F6;
}

header{
    text-align: center;
}

hr{
    border-style: dotted;
    border-width: 10px;
    border-top: none;
    width: 5%;
    border-color: #d1d4d4;
    margin-top: 30px;
    margin-bottom: 30px;
}

#test{
    border-style: dotted;
    border-width: 10px;
    border-top: none;
    width: 13%;
    border-color: #d1d4d4;
}

h1{
    color: #52adad
}

h2, h3{
    color: #52adad
}




